<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
   "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
   "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">  

<hibernate-configuration>  
   <session-factory>  
      <property name="hbm2ddl.auto">none</property>  
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
      <property name="connection.url">jdbc:mysql://localhost/conecta_contigo_consultorio</property>  
      <property name="connection.username">root</property>  
      <property name="connection.password">123</property>  
      <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>  
      <mapping resource="employee.hbm.xml"/>  
   </session-factory>  
</hibernate-configuration>
